{
    "parser": "babel-eslint",
    "extends": [
        "airbnb",
        "wesbos",
        "prettier"
    ],
    "rules": {
        "prettier/prettier": [
            "error",
            {
                "trailingComma": "es5",
                "singleQuote": true,
                "printWidth": 80
            }
        ]
    }
}